* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ac90ed, #290137);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clock div {
    width: 100px;
    height: 100px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
}

.clock span {
    color: #fff;
    font-size: 40px;
    margin: 10px;
    font-weight: 600;
}